# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# translations
*.mo
*.pot

# pyenv
.python-version

# logs
*.log
logs/

# poetry
poetry.lock

# environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Visual Studio Code settings
.vscode/

# PyCharm settings
.idea/

# ideas, tasks, etc.
TODO.md

